<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.brand_demo2.Mapper.BrandMapper">
    <resultMap id="a" type="org.example.brand_demo2.pojo.Brand">
        <result property="brandName" column="brand_name"></result>
        <result property="companyName" column="company_name"></result>

    </resultMap>
    <update id="updateById"  >
            update tb_brand
            set brand_name = #{brandName},
                                company_name = #{companyName},
                                ordered = #{ordered},
                                description = #{description},
                                status = #{status}
                                where id = #{idName}
    </update>
    <select id = "selectByCondition" resultType="">
</mapper>